---
title: Post
---
 
<div class="container">

{% assign posts_by_year = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}

{% for year_group in posts_by_year %}
  <div>
    <h2 id="{{year_group.name}}">{{ year_group.name }}</h2>
  <ul class="post-list">
    {% for post in year_group.items %}
      <li>
        <a href="{{ post.url | relative_url }}">
          <div>
            {{ post.title }}
        <p>{{ page.date | date: "%d %b" }}</p>
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
  </div>
{% endfor %}

</div>
 