{% if site.footer.enable %}
<footer>
    <div>
        <h3>index</h3>
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/resume">Résumé</a></li>
            <li><a href="/colophon">Colophon</a></li>
            <li><a href="/salary">Salary</a></li>
          </ul>
    </div>
    <div>
        <h3>Hello</h3>
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/resume">Résumé</a></li>
            <li><a href="/colophon">Colophon</a></li>
            <li><a href="/salary">Salary</a></li>
          </ul>
    </div>
</footer>
{% endif %}