/* Box sizing border-box reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
figure,
blockquote,
fieldset,
legend {
    margin: 0;
    padding: 0;
}

/* Remove list styles (bullet points and default padding) */
ul,
ol {
    list-style: none;
    padding: 0;
}

/* Set base font size and line height */
html {
    font-size: 16px;
    line-height: 1.5;
}

/* Reset heading margins */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    padding-top: 30px;
}

/* Reset hyperlink text decoration */
a {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: #dcdfe4;

    color: inherit;
    &:hover{
      color: initial;
    }
}

/* Set default cursor */
button,
input,
select,
textarea {
    cursor: pointer;
}

/* Make images responsive */
img {
    max-width: 100%;
    height: auto;
}



@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


main,nav,footer {
  font-family: "Merriweather", serif;

  max-width: 8in;
  margin: auto;
  padding: 30px;
}