// layout

main,nav,footer {
    font-family: "Merriweather", serif;
    max-width: 8in;
    margin: auto;
    padding: 30px;
  }




  p > img {
    display: inline-block; /* Display images inline */
    width: calc(50% - 5px);
}