@media screen and (max-width: 479px) {
    h1 {
        font-size: 1.5rem;
        font-weight: 400;
    }

    h2 {
        font-size: 1.35rem; 
    }
    h3 {
        font-size: 1.2rem; 
    }
    h4,h5,h6 {
        font-weight: 400;
    }

    nav {
        padding-top: 50px;
    }
     
}